@using MilShop.WebUI.Models
@using MilShop.WebUI.HtmlHelpers
@model MilShopListViewModel

@{ 
    ViewBag.Title = "Товары";
}

@foreach (var item in Model.Table)
{
    @Html.Partial("Categories", (object)item)
}

<div>
    @Html.PageLinks(Model.pageInfo, x => Url.Action("Index", new { page = x, category = Model.CurrentCategory }))
</div>